@model GgesGenNHibernate.EN.Gges.RecetaEN

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="jumbotron">
        <h1>@Html.DisplayFor(model => model.Titulo)</h1>
    </div>

    <div class="row">
        <div class="col-md-4">
            <p><strong>Receta creada el día: </strong>@Html.DisplayFor(model => model.FechaCrea)</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <p>@Html.DisplayFor(model => model.Contenido)</p>

        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <p><strong>Esta receta tiene @Html.DisplayFor(model => model.Likes) likes.</strong></p>
        </div>
        <div class="col-md-4">
            <p><strong>Esta receta tiene @Html.DisplayFor(model => model.Visualizaciones) visualizaciones.</strong></p>
        </div>
    </div>

<p>
    @Html.ActionLink("Modificar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Volver", "Index")
</p>
